<div class="bloc_about">
    <div>
        <h1>Notre histoire</h1>
    </div>
    <section>
       <p>« Nous sommes en 50 avant Jésus-Christ, toute la Gaule est occupée par les Romains... Toute ? Non ! 
        Car un village peuplé d'irréductibles Gaulois résiste encore et toujours à l'envahisseur. 
        Et la vie n'est pas facile pour les garnisons de légionnaires romains des camps retranchés de Babaorum, 
        Aquarium, Laudanum et Petibonum... »</p>
    </section>  
    <div>
        <img src="../../assets/la_gaule.png" alt="la gaule">
    </div>
    <section>
        <p>"Notre client, c'est vous !". "{{ title }}" s'adresse à une population jeune, entre 30 et 55 ans, 
            partageant une passion pour les aventures intemporelles d'Astérix et Obélix. Que vous soyez un collectionneur 
            passionné ou que vous découvriez le monde des Gaulois pour la première fois, notre entreprise est 
            là pour vous offrir des pièces uniques qui font revivre ces moments légendaires.</p>

        <p>Rejoignez-nous dans cette aventure artistique et laissez-vous emporter par la magie des figurines 
            "{{ title }}". Nous sommes bien plus qu'une entreprise, nous sommes les gardiens de la mémoire des Gaulois, 
            prêts à partager notre passion avec vous.</p> 

        <p>Bienvenue dans notre village, où chaque figurine raconte une histoire, et où chaque client fait 
            partie de notre famille "{{ title }}" !</p>
    </section>
</div>
