.bloc_about{
    background-color: #DA001E;
    text-align: center;
    padding: 20px 20px;
    margin: 0 auto;
}

img{
    border-radius: 10px;
}

section{
    padding-top: 20px;
}

@media screen and ( max-width: 730px ){
    img{
        width: 100%;
    }
}