<div class="bloc_image">
  <a routerLink="/"><img src="../../assets/Logo_au_petit_village.jpg" alt="le petit village"></a>
</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="navbar-collapse">
    <ul class="navbar-nav flex-row">
      <li class="nav-item active">
          <a class="nav-link" routerLink="/about">A propos</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
