<div class="bloc_contact">
    <div>
        <h1>Nous contacter</h1>
    </div>
    <div>
        <fieldset>
            <form action="">
                <div>
                    <input type="text" placeholder="Votre nom" required>
                </div>    
                <div>
                    <input type="text" placeholder="Votre prénom" required>
                </div>
                <div>
                    <input type="email" placeholder="Votre email" required>
                </div>
                <div>
                    <input type="text" placeholder="Sujet">
                </div>
                <div>
                    <textarea cols="30" rows="10" placeholder="Votre message"></textarea>
                </div>
                <button type="submit">Envoyer</button>
            </form>
        </fieldset>
    </div>  
</div>