/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
    font-family: "Bubbleboddy neue";
    src: url("../fonts/bubbleboddyneue-regular-trial.woff") format("woff"), 
         url("../fonts/bubbleboddyneue-regular-trial.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bubbleboddy neue", sans-serif;
}

.body, p, a, input, textarea, button  {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}